# .gitattributes
# Superset Example: Cube
#
# Copyright © 2023 Dagitali LLC. All rights reserved.
#
# An optional Git configuration file. Defines attributes per pathname.
#
# REFERENCES:
# 1. https://fileinfo.com/extension/gitattributes
# 2. https://git-scm.com/docs/gitattributes

# Auto detect text files and perform LF normalization
* text=auto
